.flexbox{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    
}

.flexbox > div {
    border : 1px solid black;
    width: 140px;
    background-image: url("../static/images/img.png");
    background-size: cover;
    font-size: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 240px;
    background-size: cover;

}