*{
    margin: auto;
    list-style: none;
    text-decoration: none;
}

body{

}

ul,li{
    margin: 15px;
}

header{
    font-size: 48px;
    margin : 30px 0px;
    text-align: center;
}

nav{
    border : solid 1px black;
    margin: 20px;
}

.studylist{
    margin: 20px;
    border: solid 1px black;
}

.activity{
    font-size: 24px;
    margin: 20px;
    border: solid 1px black;
}

.activity h2{
    margin: 20px;
    font-size: 30px;
}

.intro_container{
    margin: 20px;
    border: solid 1px black;
    display: flex;
}

.intro_container img{
    margin: 20px;
    width: 50%;
}

.introduce{
    margin: 20px;
    border: solid 1px;
    width: 50%;
}

.container{
    margin: 20px;
    border: solid 1px;
}

.project{
    margin: 20px;
    border: solid 1px;
}

.something{
    margin: 20px;
    border: solid 1px;
}

footer{
    margin: 20px;
    border: solid 1px;
}