@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Poppins&display=swap');

.memo{
    background-color: #ffff99;
    padding: 18px;
    transform: rotate(10deg);
    width: 400px;
    height: 350px;
    margin: auto;
    text-align: center;
    position: relative;
    top : 200px;
}

h1{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 44px;
    margin-bottom: 20px;
}

main{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 20px;
    margin: 20px;
}

